<html xmlns:th="http://www.thymeleaf.org">
<head th:include="top :: copy" th:with="title='上传管理'"></head>

<body>

<div id="wrapper">
    <div th:replace="nav::copy"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>题库管理</h1>
                <p>1：基本上传公功能；2：维护题库数据源。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="" th:action="@{/admin/upload/parseXls2Dto}" enctype="multipart/form-data" method="post">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="questionBankName" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>类别：</label>
                            <select id="categorySelect" class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">银行从业</option>
                                <option value="2">基金从业</option>
                                <option value="3">证券从业</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>科目名称：</label>
                            <select id="courseSelect" class="form-control">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>上传文件：</label>
                            <input type="file" name="file"/>
                        </div>
                        <br/>
                        <input id="categoryVal" type="hidden" name="categoryVal" value=""/>
                        <input id="courseVal" type="hidden" name="courseVal" value=""/>
                        <input type="submit" value="提交"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input id="successTotalId" type="hidden" name="successTotal" th:value="${successTotal}"/>
</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/sbAdmin/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<!--<script th:src="@{/sbAdmin/vendor/raphael/raphael.min.js}"></script>-->
<!--<script th:src="@{/sbAdmin/vendor/morrisjs/morris.min.js}"></script>-->
<!--<script th:src="@{/sbAdmin/data/morris-data.js}"></script>-->

<!-- Custom Theme JavaScript -->
<script th:src="@{/sbAdmin/dist/js/sb-admin-2.js}"></script>


<script th:src="@{/js/biz/uploadAdmin.js}"></script>

</body>
</html>
