<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.dao.ExamTrueAnswerMapper">
    <resultMap id="BaseResultMap" type="com.ks.dto.ExamTrueAnswer">
        <id column="question_bank_id" jdbcType="VARCHAR" property="questionBankId"/>
        <id column="true_answer_id" jdbcType="VARCHAR" property="trueAnswerId"/>
        <result column="true_answer" jdbcType="VARCHAR" property="trueAnswer"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    question_bank_id, true_answer_id, true_answer, sort
  </sql>
    <select id="selectByExample" parameterType="com.ks.dto.ExamTrueAnswerExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from exam_true_answer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="com.ks.dto.ExamTrueAnswerKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exam_true_answer
        where question_bank_id = #{questionBankId,jdbcType=VARCHAR}
        and true_answer_id = #{trueAnswerId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.ks.dto.ExamTrueAnswerKey">
    delete from exam_true_answer
    where question_bank_id = #{questionBankId,jdbcType=VARCHAR}
      and true_answer_id = #{trueAnswerId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ks.dto.ExamTrueAnswerExample">
        delete from exam_true_answer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ks.dto.ExamTrueAnswer">
    insert into exam_true_answer (question_bank_id, true_answer_id, true_answer, 
      sort)
    values (#{questionBankId,jdbcType=VARCHAR}, #{trueAnswerId,jdbcType=VARCHAR}, #{trueAnswer,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ks.dto.ExamTrueAnswer">
        insert into exam_true_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionBankId != null">
                question_bank_id,
            </if>
            <if test="trueAnswerId != null">
                true_answer_id,
            </if>
            <if test="trueAnswer != null">
                true_answer,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionBankId != null">
                #{questionBankId,jdbcType=VARCHAR},
            </if>
            <if test="trueAnswerId != null">
                #{trueAnswerId,jdbcType=VARCHAR},
            </if>
            <if test="trueAnswer != null">
                #{trueAnswer,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ks.dto.ExamTrueAnswerExample" resultType="java.lang.Long">
        select count(*) from exam_true_answer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update exam_true_answer
        <set>
            <if test="record.questionBankId != null">
                question_bank_id = #{record.questionBankId,jdbcType=VARCHAR},
            </if>
            <if test="record.trueAnswerId != null">
                true_answer_id = #{record.trueAnswerId,jdbcType=VARCHAR},
            </if>
            <if test="record.trueAnswer != null">
                true_answer = #{record.trueAnswer,jdbcType=VARCHAR},
            </if>
            <if test="record.sort != null">
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update exam_true_answer
        set question_bank_id = #{record.questionBankId,jdbcType=VARCHAR},
        true_answer_id = #{record.trueAnswerId,jdbcType=VARCHAR},
        true_answer = #{record.trueAnswer,jdbcType=VARCHAR},
        sort = #{record.sort,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ks.dto.ExamTrueAnswer">
        update exam_true_answer
        <set>
            <if test="trueAnswer != null">
                true_answer = #{trueAnswer,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where question_bank_id = #{questionBankId,jdbcType=VARCHAR}
        and true_answer_id = #{trueAnswerId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ks.dto.ExamTrueAnswer">
    update exam_true_answer
    set true_answer = #{trueAnswer,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where question_bank_id = #{questionBankId,jdbcType=VARCHAR}
      and true_answer_id = #{trueAnswerId,jdbcType=VARCHAR}
  </update>
</mapper>