<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/sbAdmin/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/sbAdmin/vendor/raphael/raphael.min.js}"></script>
    <script th:src="@{/sbAdmin/vendor/morrisjs/morris.min.js}"></script>
    <script th:src="@{/sbAdmin/data/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/sbAdmin/dist/js/sb-admin-2.js}"></script>
</div>

</body>
</html>
