<html xmlns:th="http://www.thymeleaf.org">
<head th:include="topApp :: copy" th:with="title='答题'"></head>

<body>
<style type="text/css">
    #answerZone {
        background-color: #FFF;
    }

    .questionZone {
        padding: 10px 20px;
    }

    .questionZone .body {
        margin: 10px 0px;
    }

    .answerZone {
        padding: 10px 20px;
    }

    .trueAnswerZone {
        padding: 0px 20px;
    }

    .jieXiZone {
        padding: 10px 20px;
    }

    div.cardZone {
        margin: 0px;
        padding: 5px;
        text-align: center;
        background: #FFF;
        border: solid 1px #c3c3c3;
        height: 230px;
        display: none;
        float: left;
    }

    div.panel {
        width: 100%;
        margin: 0px;
        padding: 10px 0px 10px 10px;
        background: #FFF;
        display: none;
        font-size: 30px;
        float: left;
    }

    div.panel p {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .myBadge {
        padding: 15px 20px;
        font-size: 15px;
        margin: 0px 7px 10px;
    }

    .myBadgeABCD {
        font-size: 20px;
    }

    .hide {
        display: none;
    }

    .paper {
        width: 100px;
        font-size: 25px;
        line-height: 40px;
        color: #fff;
    }

    .paddingBottom {
        padding-bottom: 20px;
    }

    #hui-footer a {
        display: block;
        width: 33.3%;
        text-align: center;
    }


</style>


<header class="hui-header">
    <div id="hui-back"></div>
    <h1>答题</h1>
    <div class="paper">交卷</div>
</header>

<div class="hui-wrap">

    <div class="panel">
        <p>单选题</p>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge  myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge  myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <p>多选题</p>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">2</div>
        <div class="hui-badge  myBadge">1</div>
        <p>是非题</p>
        <div class="hui-badge hui-primary myBadge">1</div>
        <div class="hui-badge  myBadge">1</div>
        <div class="hui-badge hui-primary myBadge">1</div>
    </div>

    <div id="answerZone">
        <div class="questionZone">
            <div class="hui-badge hui-danger hui-fl">单选题</div>
            <div class="hui-fr">1/7</div>
            <div style="clear: both"></div>
            <div class="body">
                甲与乙约定：若乙考上大学，甲将其小提琴以1万元的价格卖给乙。后甲因善意第三人丙出价甚高，便将该小提琴出售于丙，且钱货两清。乙考上大学后，向甲求购小提琴未果而引发纠纷。对此，乙可以请求（）。
            </div>
        </div>
        <div class="answerZone">
            <div class="">
                <div class="hui-badge">A</div>
                丙承担违约责任
            </div>
            <div class="">
                <div class="hui-badge hui-primary">B</div>
                丙返还该小提琴
            </div>
            <div class="">
                <div class="hui-badge">C</div>
                甲赔偿乙所受损失
            </div>
            <div class="">
                <div class="hui-badge">D</div>
                甲和丙负连带责任
            </div>
        </div>

        <div class="trueAnswerZone hui-accordion">
            <div class="hui-accordion-title">答案</div>
            <div class="hui-accordion-content">
                <div class="hui-badge hui-danger">B</div>
                <div class="">解析</div>
                <br/>
                <div class="">丙是善意第三人，不承担责任。</div>
            </div>
        </div>
        <!--<div class="jieXiZone hui-accordion">-->
        <!--<div class="hui-accordion-title">解析</div>-->
        <!--<div class="hui-accordion-content">丙是善意第三人，不承担责任。</div>-->
        <!--</div>-->
    </div>
</div>
<p class="hide" id="questionBankId" th:text="${questionBankId}">(questionBankId)</p>
<p class="hide" id="type" th:text="${type}">(type)</p>
<p class="hide" id="total" th:text="${total}">(total)</p>
<p class="hide" id="notDo" th:text="${notDo}">(notDo)</p>

<div class="hui-fooer-line"></div>
<div id="hui-footer">
    <a href="javascript:void(0);" id="nav-previous">
        <i class="fa fa-angle-left fa-2x hui-footer-icons"></i>
        <div class="hui-footer-text">上一题</div>
    </a>

    <a href="javascript:void(0);" id="nav-card" class="flip">
        <div class="hui-footer-icons hui-icons-news"></div>
        <div class="hui-footer-text">答题卡</div>
    </a>
    <a th:href="@{/app/my/toIndex}" id="nav-my">
        <div class="fa fa-star-o fa-2x hui-footer-icons"></div>
        <div class="hui-footer-text">收藏</div>
    </a>
    <a href="javascript:void(0);" id="nav-next">
        <i class="fa fa-angle-right fa-2x hui-footer-icons"></i>
        <div class="hui-footer-text">下一题</div>
    </a>
</div>

<script th:src="@{/huiAdmin/js/hui-accordion.js}" type="text/javascript"></script>
<script type="text/javascript">
    var selectObjList = [];
    var webRoot = G_WEB_ROOT;
    var urls = {
        getData: webRoot + '/app/answer/getData',
        calcScore: webRoot + '/app/score/calcScore',
    }
    hui.ready(function () {
        hui.accordion(false, false);
    });

    $(document).ready(function () {
        var transformType = ['', '单选题', '多选题', '是非题'];
        var curNo = 1;
        var questionList = [];

        var param = {
            "questionBankId": $("#questionBankId").text(),
            "type": $("#type").text(),
            "total": $("#total").text(),
            "notDo": $("#notDo").text()
        }

        function cardReader(rs) {
            var html1 = "<p>单选题</p>";
            var html2 = "<p>多选题</p>";
            var html3 = "<p>是非题</p>";
            $.each(rs, function (i, item) {
                var type = item.type;
                if (type == "1") {
                    html1 += '<div class="hui-badge myBadge questionNo" data-questionNo=' + i + '>' + i + '</div>';
                } else if (type == "2") {
                    html2 += '<div class="hui-badge myBadge questionNo" data-questionNo=' + i + '>' + i + '</div>';
                } else if (type == "3") {
                    html3 += '<div class="hui-badge myBadge questionNo" data-questionNo=' + i + '>' + i + '</div>';
                }
            });
            $(".panel").empty();
            $(".panel").append(html1 + html2 + html3);
        }

        function pageReader(questionList) {
            var total = questionList.length;
            var questionObj = questionList[curNo - 1];
            var html = "";
            var no = questionObj.no;
            var type = questionObj.type;
            var answerArr = questionObj.answer;
            var trueAnswer = "";
            var jieXi = questionObj.jieXi;
            var title = questionObj.title;
            var trueAnswerABCD = "";
            var questionId = questionObj.questionId;

            html +=
                '<div class="questionZone">' +
                '            <div class="hui-badge hui-danger hui-fl">' + transformType[type] + '</div>' +
                '            <div class="hui-fr" data-question-no="' + no + '">' + no + '/' + total + '</div>' +
                '            <div style="clear: both"></div>' +
                '            <div class="body">' + title +
                '    </div>' +
                ' </div>';

            var answerHtml =
                '<div class="answerZone">';
            $.each(answerArr, function (i, item) {
                trueAnswerABCD = item.split("@")[0];
                trueAnswer = item.split("@")[1];
                var selectObjStr = trueAnswerABCD + "@" + questionId;
                answerHtml +=
                    '<div class="paddingBottom"  >' +
                    '    <div class="hui-badge myBadgeABCD ' + trueAnswerABCD + '" data-is-select="0" data-select-Obj-str=' + selectObjStr + '>' + trueAnswerABCD + '</div>' + trueAnswer +
                    '</div>'
            });
            answerHtml += '</div>';
            html += answerHtml;

            var trueAnswerHtml = "";
            trueAnswerHtml +=
                '<div class="trueAnswerZone hui-accordion">' +
                '    <div class="hui-accordion-title">答案</div>' +
                '    <div class="hui-accordion-content">' +
                '        <div class="hui-badge hui-danger">' + trueAnswerABCD + '</div>' +
                '        <br/>' +
                '        <br/>' +
                '        <div class="">解析</div>' +
                '        <br/>' +
                '        <div class="">' + jieXi + '</div>' +
                '    </div>' +
                '</div>';
            html += trueAnswerHtml;

            $("#answerZone").empty();
            $("#answerZone").append(html);

            answerEvent(type, no);
        }

        function selectReader(no) {
            if (selectObjList.length > 0) {
                $.each(selectObjList, function (i, item) {
                    if (no == item.no) {
                        $.each(item.answer, function (j, jItem) {
                            var newVar = $("." + jItem);
                            newVar.addClass("hui-primary");
                            newVar.data("isSelect", 1);
                        });
                    }
                });
            }
            console.log(selectObjList);
        }


        function reader(rs) {
            cardReader(rs);
            pageReader(rs);
            fooerEvent(rs);
            $(".paper").click(function () {
                paper();
            });
        }

        function fooerEvent(rs) {
            $("#nav-card").click(function () {
                $(".panel").slideToggle("slow");
            });
            $("#nav-previous").click(function () {
                if (curNo == 1) {
                    hui.alert("第一题了");
                } else {
                    saveSelectObj(curNo);
                    curNo = (curNo - 1);
                    pageReader(rs);
                    selectReader(curNo);
                }
            });
            $("#nav-next").click(function () {
                if (curNo == rs.length) {
                    hui.alert("最后一题了");
                } else {
                    saveSelectObj(curNo);
                    // 下一题curNo
                    curNo = (curNo + 1);
                    pageReader(rs);
                    selectReader(curNo);
                }

            });

            $(".questionNo").click(function () {
                var $this = $(this);
                var questionNo = $this.attr("data-questionNo");
                curNo = questionNo;
                pageReader(rs);
                $(".panel").css("display", "none");
            });
        }

        function answerEvent(type, no) {
            hui.accordion(false, false);
            $(".answerZone .paddingBottom").on("click", function () {
                var $this = $(this);
                var $children = $this.children();
                var isSelect = $children.data("isSelect");

                // 多选题
                if (type == "2") {
                    if (isSelect == 1) {
                        $children.data("isSelect", 0);
                        $children.removeClass("hui-primary");
                    } else {
                        $children.data("isSelect", 1);
                        $children.addClass("hui-primary");
                    }
                } else {
                    $(".answerZone .paddingBottom .hui-badge").removeClass("hui-primary");
                    $children.addClass("hui-primary");
                }
            });
        }

        function saveSelectObj(no) {
            var questionId = "";
            var selectAnswer = [];
            var $answerZone = $(".answerZone .paddingBottom .hui-primary");
            $.each($answerZone, function (i, item) {
                var selectObjStr = $(item).data("selectObjStr");
                var split = selectObjStr.split("@");
                var _answer = split[0];
                var _questionId = split[1];
                selectAnswer.push(_answer);
                questionId = _questionId
            });

            var selectObj = getSelectObj(no);
            if (selectObj == null) {
                selectObj = {
                    no: no,
                    questionId: questionId,
                    answer: selectAnswer
                };
                selectObjList.push(selectObj);

            } else {
                selectObj.answer = selectAnswer;
                selectObj.questionId = questionId;
                $.each(selectObjList, function (i, item) {
                    var _questionNo = item.no;
                    if (_questionNo == no) {
                        selectObjList.remove(item);
                        selectObjList.push(selectObj);
                    }
                });
            }
        }

        function getSelectObj(no) {
            var rs = null;
            $.each(selectObjList, function (i, item) {
                var _questionNo = item.no;
                if (no == _questionNo) {
                    rs = item;
                    return;
                }
            });
            return rs;
        }

        function paper() {
            var no = $(".questionZone .hui-fr").data("questionNo");
            saveSelectObj(no);

            var selectAnswer = [];
            if (selectObjList.length > 0) {
                $.each(selectObjList, function (i, item) {
                    $.each(item.answer, function (j, jItem) {
                        selectAnswer.push(jItem + "@" + item.questionId);
                    });
                });
            }

            $.ajax({
                type: "POST",
                url: urls.calcScore,
                dataType: 'json',
                data: {
                    "idList": selectAnswer, "questionBankId": $("#questionBankId").text()
                },
                success: function (rs) {
                    console.log(rs);
                }
                ,
                error: function (res) {
                }
            })
            ;
            console.log(selectAnswer);
        }

        function getData() {
            hui.postJSON(
                urls.getData,
                param,
                function (rs) {
                    questionList = rs;
                    reader(rs);
                },
                function (e) {
                    hui.iconToast('读取消息失败', 'warn');
                }
            );
        }

        function main() {
            getData();
        }

        main();


    });

</script>


</body>

</html>

