<html xmlns:th="http://www.thymeleaf.org">
<head th:include="topApp :: copy" th:with="title='随机组卷'"></head>

<body>
<style type="text/css">

    #recordZone {
        height: calc(100vh - 100px);
        background: #fff;
    }


</style>


<div th:replace="menuApp::copy"></div>
<div id="recordZone" class="hui-list ">
    <ul></ul>
</div>

<div th:replace="footApp::copy"></div>


<script type="text/javascript">
    var webRoot = G_WEB_ROOT;
    var urls = {
        queryRecordByUserId: webRoot + '/app/roll/queryRecordByUserId',
    }

    /**
     * menuApp.html调用
     * @param courseId
     */
    function resetPage(courseId) {
        // getData();
    }

    function event() {
        $(".hui-list-text").on('click', function () {
            var rollId = $(this).data("roll-id");
            console.log(rollId);
        });
    }

    function reader(list) {
        var html = "";
        $.each(list, function (index, item) {
            html +=
                '<li>' +
                '    <div class="hui-list-text" data-roll-id="' + item.rollId + '">' + item.createdDate + '</div>' +
                '</li>';
        });
        $("#recordZone ul").append(html);
        event();
    }

    function getData() {
        hui.getJSON(
            urls.queryRecordByUserId,
            function (rs) {
                if (rs.k) {
                    // console.log(rs.v);
                    reader(rs.v);
                } else {
                    alert("没有组卷记录");
                }
            }
        );
    }

    function init() {
        getData();
    }

    function main() {
        init();
    }

    main();

</script>


</body>

</html>

