<html xmlns:th="http://www.thymeleaf.org">
<head th:include="topApp :: copy" th:with="title='随机组卷'"></head>

<body>
<style type="text/css">

    #randomZone {
        height: calc(100vh - 100px);
        background: #fff;
    }

    #randomZone .body {
        position: absolute;
        top: 30%;
        left: 30%;
    }

    .bgImg {
        background: url('../../img/app/random.png');
        height: 130px;
        width: 158px;
    }


</style>

<div th:replace="menuApp::copy"></div>
<div class="hui-wrap">
    <div id="randomZone">
        <div class="body">
            <div class="bgImg"></div>
            <br/>
            <div class="hui-button">随机组卷</div>
        </div>
    </div>
</div>

<div th:replace="footApp::copy"></div>


<script type="text/javascript">
    var webRoot = G_WEB_ROOT;
    var urls = {
        randomRoll: webRoot + '/app/roll/randomRoll?courseId=',
    }

    /**
     * menuApp.html调用
     * @param courseId
     */
    function resetPage(courseId) {
        event(courseId);
    }

    function getData(courseId) {
        console.log(courseId);
        hui.getJSON(
            urls.randomRoll + courseId,
            function (rs) {
                if (rs.k) {
                    console.log(rs.v);
                }
            }
        );
    }

    function event(courseId) {
        $(".hui-button").unbind().bind("click", function () {
            if (courseId != null) {
                getData(courseId);
            }
        });
    }


    function init() {
        console.log(C_EXAM_COURSE);
        if (C_EXAM_COURSE != null) {
            var courseId = C_EXAM_COURSE.split(",")[0]
            event(courseId);
        }
    }

    function main() {
        init();
    }

    main();

</script>


</body>

</html>

