<html xmlns:th="http://www.thymeleaf.org">
<head th:include="topApp :: copy" th:with="title='题目筛选'"></head>

<body>
<style type="text/css">
    .screenZone {
        margin: 20px 0px;
        padding: 10px 20px;
        background-color: #FFF;
    }

    .screenZone .lh {
        line-height: 35px;
    }

    .title {
        margin-bottom: 10px;
    }

    .left {
        display: block;
        float: left;
    }

    .right {
        display: block;
        float: right;
    }

    .screenZone div {
        margin-right: 10px;
    }

    .hide {
        display: none;
    }

</style>

<header class="hui-header">
    <div id="hui-back"></div>
    <h1>题目筛选</h1>
</header>
<div class="hui-wrap">
    <div id="screenZone">
        <div class="screenZone">
            <div class="left lh">练习未做题目</div>
            <div class="right">
                <div class="hui-switch " id="switchBox"><span>Off</span>
                    <div class="hui-switch-in"></div>
                </div>
            </div>
        </div>

        <div class="screenZone typeZone">
            <div class="title">题目类型</div>
            <div class="hui-button hui-fl hui-primary" data-type=9999>全部</div>
            <div class="hui-button hui-fl" data-type=1>单选题</div>
            <div class="hui-button hui-fl" data-type=2>多选题</div>
            <div class="hui-button hui-fl" data-type=3>是非题</div>
        </div>

        <div class="screenZone totalZone">
            <div class="title">选择做题数量</div>
            <div class="hui-button hui-fl hui-primary" data-type=9999>全部</div>
            <div class="hui-button hui-fl" data-type=5>5</div>
            <div class="hui-button hui-fl" data-type=10>10</div>
            <div class="hui-button hui-fl" data-type=20>20</div>
            <div class="hui-button hui-fl" data-type=30>30</div>
        </div>
        <p class="hide" id="questionBankId" th:text="${questionBankId}">(questionBankId)</p>
    </div>
    <div class="hui-button hui-primary hui-button-large">开始做题</div>
</div>


<div th:replace="footApp::copy"></div>

<script type="text/javascript">

    $(function () {
        var webRoot = G_WEB_ROOT;
        var param = {
            "questionBankId": $("#questionBankId").text(),
            "type": 9999,
            "total": 9999,
            "notDo": false
        }

        function getData() {
            window.location =
                webRoot + "/app/answer/toIndex?questionBankId="
                + param.questionBankId + "&type=" + param.type + "&total=" + param.total + "&notDo=" + param.notDo;
        }

        function event() {
            hui('#switchBox').switchBox(['Off', 'On'], function (res) {
                param.notDo = res;
            }, true);

            $(".typeZone div").on("click", function () {
                $this = $(this);
                $(".typeZone div").removeClass("hui-primary");
                $this.addClass("hui-primary");
                param.type = $this.attr("data-type");
            });

            $(".totalZone div").on("click", function () {
                $this = $(this);
                $(".totalZone div").removeClass("hui-primary");
                $this.addClass("hui-primary");
                param.total = $this.attr("data-type");
            });

            $(".hui-button-large").click(function () {
                getData();
            });

        }

        function main() {
            event();
        }

        main();
    })

</script>


</body>

</html>

