<!--http://www.hcoder.net/hui/docs314.html-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>考前押题</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/huiAdmin/css/hui.css}"/>
    <!-- Bootstrap grid CSS -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet">-->
    <!-- Custom CSS -->
    <!--<link th:href="@{/sbAdmin/dist/css/sb-admin-2.css}" rel="stylesheet"/>-->
    <!-- Custom Fonts -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body style="background:#f1f1f1;">
<style type="text/css">

    .ya-zone {
        border: 1px solid #f1f1f1;
        padding: 10px 10px;
        border-radius: 10px;
        text-align: center;
        color: #FFF;
        height: 60px;
        line-height: 60px;
        margin: 5px;
        background: #FFFFFF;
    }

    .span100 {
        width: 100%;
        height: 100%;
    }

    .span100 .header {
        height: 30px;
        line-height: 10px;
    }

    .span100 .body {
        height: 30px;
        line-height: 30px;
    }

    .span95 {
        width: 95%;
        float: left;
        text-align: left;
    }

    .span5 {
        width: 5%;
        float: right;
        margin-top: 8px;
    }

    .span5 span {
        color: #39f;
    }


</style>
<header class="hui-header">
    <!--<div id="hui-back"></div>-->
    <h1>股权投资基金基础</h1>
    <div id="hui-header-menu" onclick="hui.showSlideMenu();"></div>
</header>

<div class="hui-wrap">
    <div class="">
        <div class="ya-zone">
            <div class="span100">
                <div class="header">
                    <div style="text-align:right; padding:5px 0px;">60%</div>
                    <div class="hui-progress">
                        <span style="width: 60%;"></span>
                    </div>
                </div>
                <div class="body">
                    <div class="span95">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                    </div>
                    <div class="span5">
                        <span class="fa fa-pencil-square-o"></span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="ya-zone">
            <div class="span100">
                <div class="header">
                    <div style="text-align:right; padding:5px 0px;">90%</div>
                    <div class="hui-progress">
                        <span style="width: 90%;"></span>
                    </div>
                </div>
                <div class="body">
                    <div class="span95">
                        <span>yyyyyyyyyyyyyyyyyyyyyyy</span>
                    </div>
                    <div class="span5">
                        <span class="fa fa-pencil-square-o"></span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div th:replace="footApp::copy"></div>

<!--<div class="hui-fooer-line"></div>-->
<!--<div id="hui-footer">-->
    <!--<a href="javascript:hui.toast('首页');" id="nav-home">-->
        <!--<div class="hui-footer-icons hui-icons-home"></div>-->
        <!--<div class="hui-footer-text">首页</div>-->
    <!--</a>-->

    <!--<a href="javascript:hui.toast('视频');" id="nav-news">-->
        <!--<div class="hui-footer-icons hui-icons-news"></div>-->
        <!--<div class="hui-footer-text">视频</div>-->
    <!--</a>-->
    <!--<a th:href="@{/app/my/toIndex}" id="nav-my">-->
        <!--<div class="hui-footer-icons hui-icons-my"></div>-->
        <!--<div class="hui-footer-text">我的</div>-->
    <!--</a>-->
<!--</div>-->


<script th:src="@{/huiAdmin/js/hui.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/huiAdmin/js/hui-accordion.js}"></script>
<script type="text/javascript">
    hui.ready(function () {
        hui.accordion(true, false);
        hui('#nav-news').pointMsg('hot', null, null, null, '1px');
        hui('#nav-my').pointMsg();
    });
</script>


<div class="hui-slide-menu">
    <div class="hui-accordion">
        <div class="hui-accordion-title">银行从业</div>
        <div class="hui-accordion-content hui-list">
            <a href="javascript:hui.open('../demo/base.html');">
                <div class="hui-list-icons"><img th:src="@{/huiAdmin/img/index/base.png}"/></div>
                <div class="hui-list-text">
                    银行业法律法规与综合能力
                    <div class="hui-list-info hui-icons hui-icons-right"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="hui-accordion">
        <div class="hui-accordion-title">基金从业</div>
        <div class="hui-accordion-content hui-list">
            <a href="javascript:hui.open('../demo/base.html');">
                <div class="hui-list-icons"><img th:src="@{/huiAdmin/img/index/base.png}"/></div>
                <div class="hui-list-text">
                    基金法律法规、职业道德与业务规范
                    <div class="hui-list-info hui-icons hui-icons-right"></div>
                </div>
            </a>
            <a href="javascript:hui.open('../demo/base.html');">
                <div class="hui-list-icons"><img th:src="@{/huiAdmin/img/index/base.png}"/></div>
                <div class="hui-list-text">
                    证券投资基金基础知识
                    <div class="hui-list-info hui-icons hui-icons-right"></div>
                </div>
            </a>
            <a href="javascript:hui.open('../demo/base.html');">
                <div class="hui-list-icons"><img th:src="@{/huiAdmin/img/index/base.png}"/></div>
                <div class="hui-list-text">
                    私募股权投资基金基础知识
                    <div class="hui-list-info hui-icons hui-icons-right"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="hui-accordion">
        <button type="button" class="hui-button hui-button-large" onclick="hui.closeSlideMenu();">关闭菜单</button>
    </div>

    <!--<ul>-->
    <!--<li>银行从业</li>-->
    <!--<li>基金从业</li>-->
    <!--<li>证券从业</li>-->
    <!--<li style="padding-top:30px;">-->
    <!--<button type="button" class="hui-button hui-button-large" onclick="hui.closeSlideMenu();">关闭菜单</button>-->
    <!--</li>-->
    <!--</ul>-->
</div>
<script type="text/javascript">
    hui.slideMenu();
</script>

</body>

</html>

